.App-logo{
    display: block;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    animation: wiggle 2s linear infinite
}

@media only screen and (max-width: 480px) {

    .App-logo{
        display: block;
        padding-top: 50%;
        margin-left: auto;
        margin-right: auto;
        width: 100%
        
    }
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}